

i, li a, h4, .modal-body label, .modal-body p, input[type="text"], h5, ul li {
    color: black !important;
}

.btn-editar, .btn-eliminar, .btn-editar i {
    width: 5rem;
    height: 2rem;
    color: white !important;
}

.no-puntos {
        list-style-type: none;
        padding: 0; 
        margin: 0;
}

li {
    cursor: pointer;
}

.col-table {
    width: 80vw;
    padding-top: 2rem;
}

h3 {
    padding-bottom: 5vh;
}

.btn-crear {
    position: sticky;
    left: 80vw;
    bottom: 55vh; 
    width: 10rem; 
    height: 2.5rem; 
}

.error-message {
    color: red !important;
}