/*Raul Gutierrez*/
body {
    background: url('./../assets/HogwartsWallapaper.jpg') no-repeat center center fixed;
    background-color: black;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .button-container {
    text-align: center;
  }

  .button-container a {
    margin: 10px;
  }